@using BankConfirmations_DTO
@model Account

<div style="display:flex">

<div class="row">
    <div>
        <input type="text" placeholder="search" id="search" style="display:flex;float:left"/>
    </div>
    <table>
        <thead >
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Id number</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>

<div style="height:600px;width:500px"  class="row">
    <div class="col-md-4">
        <img style="display:inline-block"; width="216" height="417" src="https://www.addiko.rs/static/uploads/Addiko-Office-hrcak-Oskar-rgb-merge-e1650631123885.png"/>
        <form asp-action="ClientListAccount" asp-controller="Accounts">
            <h1>Create with client</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenDate" class="control-label"></label>
                <input asp-for="OpenDate" class="form-control" />
                <span asp-validation-for="OpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" aria- class="control-label"></label>
                <input asp-for="Type" class ="form-control"></>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" aria- class="control-label"></label>
                <input asp-for="ClientId" class ="form-control"></>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
            </div>
            <br />
            <br />
            <div class="form-group-input">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/jquery/dist/jquerySearch.js"></script>

