
<div class="row">
    <button id="click">click</button>
    <div>
        <input type="text" placeholder="search" id="search" style="display:flex;float:left"/>
    </div>
    <div>
        <ol id="result"></ol>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/jquery/dist/jqueryLiveSearch.js"></script>