<h1>Create Account</h1>

<div class="row">
    <div class="col-md-4">
        <img style="display:inline-block"; width="216" height="417" src="https://www.addiko.rs/static/uploads/Addiko-Office-hrcak-Oskar-rgb-merge-e1650631123885.png"/>
        <div style="display:block;margin:auto;margin-right:350px;">
            <div style="margin-bottom:50px;">
                 <a asp-action="CreateNewClient" style="font-size:x-large" class="btn btn-success">Create new client</a>
            </div>
            <div style="margin-top:50px;">
                 <a asp-action="CreateWithClient" style="font-size:x-large" class="btn btn-primary">Create with client</a>
            </div>          
            <div style="margin-top:50px;">
                 <a asp-action="ClientIndex" style="font-size:x-large" class="btn btn-primary">Client Index</a>
            </div>
            <div style="margin-top:50px;">
                 <a asp-action="ClientListAccount" style="font-size:x-large" class="btn btn-primary">Client List Account</a>
            </div>
            <div style="margin-top:50px;">
                 <a asp-action="ClientSearch" style="font-size:x-large" class="btn btn-primary">Client Search</a>
            </div>
            <div style="margin-top:50px;">
                 <a asp-action="FilterSearch" style="font-size:x-large" class="btn btn-primary">Filter Search</a>
            </div>
        </div>
    </div>
</div>

